{% extends 'base.html' %}

{% block title %}Add game{% endblock %}

{% block main_content %}
    <div class="col-12 d-flex justify-content-center">
        <h1>Add game into catalogue</h1>
    </div>

    <div class="col-md-6 offset-md-3">

        {% if messages %}

            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
            <div class="add-game">
                <input type="submit" value="Add game">
            </div>
{#
        </form>

    </div>

{% endblock %}